* {
    margin-top: 0px;
}

header {
    background-color: #3b5998;
    height: 82px;
    margin-top: 0px;
    color: white;
    font-family: inherit;
    padding: 0 10%;
}

.webtitle {
    float: left;
    margin-top: 17px;
    font-weight: bolder;
}

.webtitle a {
    text-decoration: none;
}

.menu_login {
    float: right;
}

table {
    font-size: 13px;
}

main {
    background-color: #f2f2f2;
}

article {
    clear: both;
    display: flex;
    margin-right: 10%;
    margin-left: 10%;
    padding-top: 20px;
}

.left {
    flex: 1;
}

.right {
    flex: 1;
    padding-left: 10%;
    clear: both;
}

.left > h1 {
    margin-top: 35px;
    margin-bottom: 30px;
}

.left > section {
    height: 50px;
    margin: 25px auto;
}

img {
    width: 40px;
    height: 40px;
    margin-right: 20px;
    float: left;
}

.right > h1 {
    margin-bottom: 0;
}

.right .personinfo input {
    border-radius: 5px;
    width: 350px;
    height: 25px;
    margin: 3px;
}

.right input[name$="name"] {
    width: 166px;
}

.right form > div {
    margin-top: 15px;
}

.right .notice {
    font-size: 7px;
    width: 75%;
}

.right form button {
    font-size: 17px;
    width: 180px;
    height: 35px;
    border-radius: 5px;
    background-color: #13a913d1;
    margin: 15px auto;
}

.right .newpage {
    font-size: 10px;
    margin-bottom: 40px;
}

footer {
    margin: 40px 9%;
    font-size: 12px;
}

footer ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

footer ul li {
    display: inline;
    margin: 2px 10px;
}

footer hr {
    margin-left: 10px;
}

footer li a {
    text-decoration: none;
}

footer > div {
    margin-top: 15px;
    margin-left: 10px;
}
